:root {
    --glass-bg: rgba(255, 255, 255, 0.12);
  --text-color: #ffffff;
    --bg-gradient: rgba(135, 207, 235, 0);
    --bg-url : url("../img/background.png")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;

    background-image: linear-gradient(var(--bg-gradient), var(--bg-gradient)),
                      var(--bg-url);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
}