:root {
    --glass-bg: rgba(255, 255, 255, 0.12);
  --text-color: #ffffff;
    --bg-gradient: rgba(135, 207, 235, 0);
    --bg-url : url("../img/background.png")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}