.char-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.2s ease;
    transform: scale(1.05);
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.char-icon {
    font-size: 4rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    display: block;
    overflow: visible;
}

#flash {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180%;
    height: 180%;
    transform: translate(-50%, -50%);

    background: radial-gradient(circle, var(--flash-color, white) 0%, transparent 70%);
    opacity: 0;
    z-index: 10;
    pointer-events: none;
    border-radius: 50%;
}
.flash-active {
    animation: anime-flash 7s cubic-bezier(0.25, 1, 0.5, 1);
}

@keyframes anime-flash {
    0% {
        opacity: 0.9;
        transform: translate(-50%, -50%) scale(0.5);
        filter: brightness(2) blur(5px);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.2);
        filter: brightness(1) blur(10px);
    }
}