:root {

    --glass: rgba(255, 255, 255, 0.2);
    --dark-search: rgba(20, 20, 20, 0.8);
}
.search-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    padding: 15px;
}

.buttons-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}