:root {

    --glass: rgba(255, 255, 255, 0.2);
    --dark-search: rgba(20, 20, 20, 0.8);
}
.search-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    padding: 15px;
}

.buttons-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.search-box {
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

.search-box.active {
    max-width: 200px;
    opacity: 1;
}

#search-btn .cerrar {
    display: none;
}
#search-btn .lupa {
    display: inline-block;
}
#search-btn.active .lupa {
    display: none;
}
#search-btn.active .cerrar {
    display: inline-block;
}

.main-btn {
    background: var( --glass);
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    font-size: 1.2rem;
}

#city-input {
    margin-top: 2px;
    background: var(--dark-search);
    border: 1px solid #230101;
    color: white;

    padding: 6px 12px;
    border-radius: 15px;
    border-radius: 20px;
    outline: none;
    width: 100%;
    font-size: 0.9rem;
}

#city-input.error{
    border: 1px solid #8b0000;
}