.rain-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    display: none;
}

.rain-container.active {
    display: block !important;

    background-image:
        radial-gradient(1px 20px at 10% 20%, rgba(255, 255, 255, 0.7), transparent),
        radial-gradient(1px 30px at 35% 60%, rgba(255, 255, 255, 0.5), transparent),
        radial-gradient(1px 25px at 60% 10%, rgba(255, 255, 255, 0.6), transparent),
        radial-gradient(1px 35px at 85% 50%, rgba(255, 255, 255, 0.4), transparent);
    background-size: 150px 150px;
    animation: rain-fall-new 0.5s linear infinite;
}

@keyframes rain-fall-new {
    from {
        background-position: 0 0;
    }
    to {

        background-position: 50px 300px;
    }
}

.snow-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    display: none;
}

.snow-container.active {
    display: block !important;

    background-image:
        radial-gradient(4px 4px at 20% 10%, white, transparent),
        radial-gradient(3px 3px at 50% 40%, white, transparent),
        radial-gradient(5px 5px at 80% 20%, white, transparent),
        radial-gradient(3px 3px at 30% 70%, white, transparent),
        radial-gradient(4px 4px at 70% 80%, white, transparent);
    background-size: 250px 250px;
    animation: snow-fall 10s linear infinite;
}

@keyframes snow-fall {
    from { background-position: 0% 0%; }

    to { background-position: 10% 100%; }
}

.sun-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    display: none;
    overflow: hidden;
}

.sun-container.active {
    display: block !important;
    position: absolute;
    top: 0;
    left: 50%;
    width: 2200px;
    height: 2200px;

    background: repeating-conic-gradient(
        from 0deg at 50% 50%,
        rgba(255, 140, 0, 0) 0deg 2deg,
        rgba(251, 255, 192, 0.534) 7deg,
        rgba(250, 244, 156, 0) 12deg 15deg,
        transparent 15deg 40deg
    );

    filter: blur(2px);
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center center;
    animation: sun-rotate-perfect 20s linear infinite;

    pointer-events: none;
    z-index: -1;
}

@keyframes sun-rotate-perfect {

    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}